apiVersion: v1
kind: Service
metadata:
  labels:
    webtty-service:
  name: __SERVICE_NAME__ 
  namespace: default
spec:
  ports:
  - name: ttyd
    port: 7681
    protocol: TCP
    targetPort: 7681
  selector:
    job-name: __JOB_NAME__
  type: NodePort
