.modal {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  align-items: center;
  display: flex;
  overflow: hidden;
  position: fixed;
  z-index: 40;
}

.modal-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #4a4a4acc;
}

.modal-content {
  margin: 0 20px;
  max-height: calc(100vh - 160px);
  overflow: auto;
  position: relative;
  width: 100%;

  .box {
    background-color: #fff;
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
    text-align: center;
  }

  header {
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }

  .file-input {
    height: .01em;
    left: 0;
    outline: none;
    position: absolute;
    top: 0;
    width: .01em;
  }

  .path-input {
    height: 15px;
    width: 240px;
    padding: 6px 10px;
    line-height: 16px;
    vertical-align: middle;
    border: 1px solid #CBCFD8;
    border-radius: 3px;
    outline: none;
    box-shadow: none;
  }

  .file-cta {
    position: relative;
    cursor: pointer;
    color: #226BDB;
    background-color: #f5f5f5;
    align-items: center;
    display: inline-flex;
    height: 2.25em;
    border-radius: 3px;
    font-weight: 500;
    padding: calc(.375em - 1px) 1em;
  }

  .file-button {
    display: block;
    margin: 15px auto 0;
    padding: 0 15px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 6px;
    outline: none;
    border-width: 1px;
    border-style: solid;
    color: #FFFFFF;
    background-color: #226BDB;
    border-color: #226BDB;
    height: 30px;
  }
}

.modal-close {
  cursor: pointer;
  float: right;
  top: 5px;
  position: absolute;
  right: 10px;
}

@media print, screen and (min-width: 769px) {
  .modal-content {
    margin: 0 auto;
    max-height: calc(100vh - 40px);
    width: 640px;
  }
}

canvas {
  height: calc(100% - 10px) !important;
}
