name: Build & Release Image

on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - v*
jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Login registry
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      - name: Make 
        run: |
              make docker-build
              #make build-chart
      - name: Push 
        run: |
              make docker-push
