name: Test PR
on:
  workflow_dispatch:
  schedule:
    - cron: "0 5 * * *"
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.17'
      - name: Run unit tests
        run: make test
